<h1>send in your user info here: </h1>
<form method="post" action="/">
  First Name: <input name="fname"> <br> <hr> <br>
  Last Name: <input name="lname"> <br> <hr> <br>
  Email: <input name ="ename"> <br> <hr> <br>
  Profile Picture: <input name ="propic">
<input type="submit">
</form>

